@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');

[data-bs-theme=dark] {
  --bs-body-color: var(--bs-warning);
  --bs-body-bg: var(--bs-black);
}

h1 {
  margin-left: -0.5rem;
  font-family: "Bowlby One SC", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 7.25cqw;
}

@media (max-width: 575.98px) {
  .btn-group.btn-group-sm-downstack {
    flex-direction: column;
    .btn { border-radius: 0; }
    .btn:first-of-type { border-top-left-radius: var(--bs-border-radius); border-top-right-radius: var(--bs-border-radius); }
    .btn:last-of-type { border-bottom-left-radius: var(--bs-border-radius); border-bottom-right-radius: var(--bs-border-radius); }
    .btn:not(:first-child) { margin-left: 0; }
  }
}
